<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mtservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BIND_EXTERNAL_SERVICE" />

    <application
        android:enabled="true"
        android:forceQueryable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="33">

        <!--android:permission="com.example.mtservice.permission.READ_PROVIDER"-->
        <provider
            android:name="com.example.mtservice.TestContentProvider"
            android:authorities="com.example.mtservice"
            android:enabled="true"
            android:syncable="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider"/>

        <service
            android:name="com.example.mtservice.RealMtAidlService"
            android:description="@string/service_description"
            android:enabled="true"
            android:exported="true"
            android:externalService="true"
            android:isolatedProcess="true"
            android:process="com.example.mt_twin"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.example.mtservice.IMtAidlInterface" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </service>

        <activity
            android:name=".DummyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.mtservice.CONNECT" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>